@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body
{
    background: #202124;
}

nav
{
    margin-top: -50px;
    word-spacing: 20px;
    float: right;
    padding-inline-end: 10px;
}

nav li
{
    font-size: 15px;
    color: white;
    list-style: none;
    display: inline;
    padding-inline: 4px;
    font-family: 'Outfit', sans-serif;
}

nav img
{
    width: 40px;
    vertical-align: -18px;
    
}

nav img:hover
{
    opacity: 0.9;
}

nav a
{
    text-decoration: none;
}

h1
{
    position: relative;
    color: whitesmoke;
    font-family: 'Outfit', sans-serif;
    top: 150px;
    font-size: 100px;

}

input
{
    position: relative;
    top: 110px;
    width: 650px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border:2px solid #303134;
    transition: 1s ease;
}

#search
{
    position: relative;
    top: 106px;
    height: 35px;
    vertical-align: bottom;
    margin-left: -50px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
}

input
{
    color: whitesmoke;
    font-size: 20px;
    font-family: monospace;
    padding-left: 15px;
}

input:focus
{
    background-color:#303134 !important;    
    outline: none;
}

input:hover
{
    background-color:#303134 !important;

}


#search img
{
    width: 20px;
    height: auto;
}

#other_langs
{
    position: relative;
    color: rgb(208, 224, 230);
    top: 150px;
    font-family: 'Poppins', sans-serif;
}

#langs
{
    padding-left: 10px;
}

#langs a
{
    cursor: pointer;
    padding-inline:5px;
    color: #8AB4F8;
}

#bottom_container
{
    background-color: #171717;
    color: #999DA2;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#bottom_container #location
{
    left: 40px;
    position: relative;
}

#bottom_options
{
    top: 5px;
    position: relative;
    padding-left: 30px;
}
#bottom_options a
{
    padding-inline: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #999DA2;
}
#bottom_options span
{
    float: right;
    padding-right: 15px;
}

#bottom_options span a
{
    padding-inline: 10px;
    cursor: pointer;
}
